.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
.content-container{
  background-color: white;
  padding: 300px;
  border: 1px solid black;
  border-radius: 20px;
}


.home-title {
  font-size: 60px;
  margin-bottom: 10px;
}

.home-subtitle {
  font-size: 30px;
  color: #555;
  margin-bottom: 30px;
}

.start-button {
  width: 100%;
  padding: 10px 0px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #00bb54;
  color: white;
  transition: background-color 0.3s;
}

.start-button:hover {
  background-color: #0056b3;
}