.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
}

.content-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 12px rgba(0, 0, 0, 0.05);
}

.home-title {
  font-size: 45px;
  margin-bottom: 10px;
}

.home-subtitle {
  font-size: 25px;
  font-weight: 400;
  color: #555;
  margin-bottom: 30px;
}

.home-button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.start-button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #28a745;
  color: white;
  width: 300px;
  font-family: "Jua", sans-serif;
}

.start-button:hover {
  background-color: #218838;
}